#!/bin/bash
# This file is managed by Ansible, all changes will be lost.

export BORG_REPO="{{ borg_user }}@{{ borg_server }}:{{ borg_port }}/{{ borg_repo_root }}/{{ ansible_fqdn }}"

export BORG_RSH="ssh -i /etc/borg/id_rsa"

export BORG_KEEP_HOURLY="{{ borg_backups.retention.hourly | default(24) }}"
export BORG_KEEP_DAILY="{{ borg_backups.retention.daily | default(14) }}"
export BORG_KEEP_WEEKLY="{{ borg_backups.retention.weekly | default(8) }}"
export BORG_KEEP_MONTHLY="{{ borg_backups.retention.monthly | default(24) }}"

